  #d3demo{
    background-color: #070707;
    color: #faf9f9;
    width: 100vw;
	height: 98vh;
      Button{
        margin-top: 1rem;
        margin-left: 2rem;
      }
      .bargraph_button{
        margin-left: 40%;
      }
  }
  